<h1>Welcome</h1>

<p>
  Click a link to login!
</p>

<%= link_to 'Students', controller: 'studentlogin', class: 'btn btn-success' %> |
<%= link_to 'Teachers', controller: 'teacherlogin', class: 'btn btn-success' %>
<%= link_to 'Teachers', controller: 'todos', class: 'btn btn-success' %>
